---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Om mig";
const happy = true;
const finished = true;
const goal = 3;

const identity = {
  firstName: "Andreas",
  country: "Danmark",
  occupation: "lærer",
  hobbies: ["udvikling", "fitness", "privat økonomi."],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "investering"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h2>Og denne blog.</h2>

  <p>
    Jeg er lærer til daglig, men bruger min fritid bl.a. på at kode og på at blogge om mine drømme og projekter.
  </p>

  <p>
    Denne side er under opbygning! Jeg håber at nogen har lyst til at følge med.
  </p>

  {happy && <p>Jeg er glad for at jeg har lært at bruge astro, det gør at jeg kan have kontrol over min blog, så jeg slipper for at bruge wordpress CMS.</p>}

  {finished && <p>Jeg er færdig med min introduktion til Astro frameworket, og vil forsøge at arbejde med siden på egen hånd fra nu af.</p>}

  {
    goal === 3 ? (
      <p>Mit mål er at skrive om økonomisk uafhængighed og udvikling her på bloggen.</p>
    ) : (
      <p>Jeg har vist ikke været så flittig.</p>
    )
  }

  <p>Fakta:</p>
  <ul>
    <li>Mit navn er {identity.firstName}.</li>
    <li>Jeg bor i {identity.country} og arbejder som {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Tre af mine hobbier er: {identity.hobbies[0]}, {identity.hobbies[1]} og {identity.hobbies[2]}
        </li>
      )
    }
  </ul>
  <p>Mine kompetencer:</p><p></p><ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
